<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.servemesystem">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServeMeSystem"
        tools:targetApi="31">
        <activity
            android:name=".Cust_Navigation"
            android:exported="false" />
        <activity
            android:name=".Review_Ratings"
            android:exported="false" />
        <activity
            android:name=".PaymentDetails"
            android:exported="false" />
        <activity
            android:name=".LoginLayoutVendor"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".NoRegCustUI"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selec_cust_vend"
            android:exported="false" />
        <activity
            android:name=".Registeration_Vendor"
            android:exported="false" />
        <activity
            android:name=".Registration_Customer"
            android:exported="false" />
        <activity
            android:name=".LoginLayout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>